<h1>Challenges tests for franjhr - NGA </h1>
<p><%= link_to 'Challenge 1: Chessboard' , chessboard_index_path %></p>
<p><%= link_to 'Challenge 2: Missing Number' , missing_number_index_path %></p>
<p><%= link_to 'Challenge 3: Minesweepers' , minesweeper_index_path %></p>

